<h1>Add new post in here.</h1>
<hr>

<form action='/posts/new' method='post'>
  URL: <input type="text" name="URL"><br>
  <br>
  Subject: <input type="text" name="subject"><br>
<br>
<br>

  <br>
  <input type="submit" name="submit">
</form>

<p><input type="button" onclick="history.back();" value="Back">